<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
        max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 상세</h2>
    </div>
    <h6 th:if="${param.status}" th:text="'저장 완료!'"></h6>
    <div>
        <label for="itemId">상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control"
               th:field="${item.id}"
               value="1" readonly>
    </div>
    <div>
        <label for="name">상품명</label>
        <input type="text" id="name" name="itemName" class="form-control"
               th:field="${item.name}"
               value="상품A" readonly>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control"
               th:field="${item.price}"
               value="10000" readonly>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control"
               th:field="${item.quantity}"
               value="10" readonly>
    </div>
    <div>판매 여부</div>
    <div>
        <div class="form-check form-check-inline">
            <input type="checkbox" id="open" th:field="${item.open}" class="form-check-input" disabled>
            <label for="open" class="form-check-label">판매 오픈</label>
        </div>
        <!--th:field=${item.open}의 값이 참이면 checked를 자동으로 넣어준다, false이면 checked속성은 넣지 않는다.-->
    </div>
    <div>
        <div>등록지역</div>
        <div th:each="region : ${regions}" class="form-check form-check-inline">
            <input type="checkbox" th:field="*{item.selectedRegions}" th:value="${region.key}" class="form-check-input"
                   disabled><!--타임리프는 `th:field` 에 지정한 값과 `th:value` 의 값을 비교해서 체크를 자동으로 처리해준다.-->
            <label th:for="${#ids.prev('selectedRegions')}" th:text="${region.value}" class="form-check-label">서울</label>
        </div>
        <!--th:for="${#ids.prev('regions')}"`
멀티 체크박스는 같은 이름의 여러 체크박스를 만들 수 있다. 그런데 문제는 이렇게 반복해서 HTML 태그를 생성할 때,
생성된 HTML 태그 속성에서 `name` 은 같아도 되지만, `id` 는 모두 달라야 한다. 따라서 타임리프는 체크박스를 `each`
루프 안에서 반복해서 만들 때 임의로 `1` , `2` , `3` 숫자를 뒤에 붙여준다.-->
    </div>
    <div>
        <div>상품 종류</div>
        <div th:each="type : ${types}" class="form-check form-check-inline">
            <input type="radio" th:field="*{item.itemType}" th:value="${type.name()}" class="form-check-input" disabled>
            <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label">서울</label>
        </div>
        <!--enum타입의 name을 쓰면 enum타입의 문자열로 그대로 반환해준다-->
        <!--th:field="*{item.itemType}"의 값이 th:value="${type.name()}"와 같으면 checked를 자동으로 넣어준다.-->
    </div>
    <div>
        <div>배송 방식</div>
        <select th:field="${item.deliveryCode}" class="form-select" disabled>
            <option value="">--배송 방식 선택--</option>
            <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}" th:text="${deliveryCode.displayName}"></option>
        </select>
        <!--th:field랑 th:value랑 비교해서 같으면 selected속성을 마련해준다-->
    </div>
    <hr class="my-4">
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{|/basic/items/${item.id}/edit|}'|"
                    onclick="location.href='editForm.html'" type="button">상품 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/basic/items}'|"
                    onclick="location.href='items.html'" type="button">목록으로
            </button>
        </div>

    </div>
</div> <!-- /container -->
</body>
</html>